h1 {
  margin-top: 0;
  padding-top: 0;
  line-height: 0.5;
}
.contactWrapper {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  height: 90vh;
  margin: auto;
  justify-content: center;
}
.contactContainer {
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.text {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  color: #2b2d42;
  gap: 20px;
}
.email_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 25vw;
}
input {
  height: 30px;
  padding: 15px;
  background-color: #2b2d42;
  color: #edf2f4;
  border: 1px solid #edf2f4;
}

textarea {
  padding: 15px;
  background-color: #2b2d42;
  color: #edf2f4;
  border: 1px solid #edf2f4;
}

.submit {
  width: fit-content;
  font-size: large;
  padding: 10px 20px;
  background-color: #2b2d42;
  margin-top: 5px;
  color: #edf2f4;
  border: 1px solid #edf2f4;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.smile_icon {
  margin-top: 50px;
}
