.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  z-index: 5;
}
.bg {
  width: 400px;
  top: 0;
  left: 0;
  background-color: #edf2f4;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 2000px) {
  .bg {
    width: 300px;
    top: 0;
    left: 0;
    background-color: #edf2f4;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
