.project_container {
  width: 900px;
  height: 500px;

  border: 1.5px solid #aec3e8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 150px;
  background-color: #414d62;
  padding: 20px;

  font-size: 20px;
  line-height: 25px;
  word-spacing: 3px;
  font-size: 17px;
}
.skills_used {
  display: flex;
  align-items: center;
  gap: 5px;
}
.proj_skill {
  width: auto;
  height: 40px;
  padding: 10px;
}
.youtube,
.github {
  text-decoration: none;
  display: flex;
  width: 120px;
  height: 40px;
  border: 1px solid #8d99ae;
  border-radius: 20px;
  justify-content: center;
  gap: 7px;
  align-items: center;
  transition: 0.3s;
}
.proj_links {
  display: flex;
  gap: 30px;
}
.proj_link {
  text-decoration: none;
  color: #edf2f4;
}
.youtube:hover,
.github:hover {
  border: 1px solid #ef233c;
  color: #ef233c;
  scale: 1.1;
}
.proj_name {
  font-weight: 400;
  font-size: 30px;
}
.proj_info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (max-width: 1800px) {
  .proj_name {
    font-weight: 400;
    font-size: 20px;
  }
  .project_container {
    width: 700px;
    height: 300px;

    border: 1.5px solid #aec3e8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    background-color: #414d62;
    padding: 20px;

    font-size: 20px;
    line-height: 25px;
    word-spacing: 3px;
    font-size: 17px;
  }
}
